@(taskType: String, taskForm: Form[Task], subtaskForm: Form[database.model.Subtask])

@import helper._
@import helper.twitterBootstrap._
	<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
	<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
	<script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>

	
@main("Todo list") {

			<fieldset>

			    @form(routes.Application.index) {
                    <input type="submit" value="Home" class="btn primary">
                }

			</fieldset>
		

	@helper.form(routes.Application.newTask()) {
        <fieldset>
			<legend>Add a new task</legend>
			@select(taskForm("taskTypeId"),
				 options(TaskType.oneOption(taskType)),
				 '_label -> "Type",
				 '_help -> "Selected task type.")
			
			
			@if(taskType.equals("0") ) {
			
			@select(taskForm("verificationStrategyId"),
				 options(VerificationStrategy.options()),
				 '_label -> "Verification Strategy",
				 '_help -> "Choose verification strategy.")
			
			@textarea(
				taskForm("code"), '_label -> "Code",
				'_help -> "Code of task in Lua."
				)

			@textarea(
				taskForm("verification"), '_label -> "Verification",
				'_help -> "Verification script."
				)
				
			@textarea(
			    taskForm("polygonPoints"), '_label -> "Geolocation polygon",
			    '_help -> "Pass here geolocation polygon in json"   
			    )
				
			@inputText(
				taskForm("name"), '_label -> "Name",
				'_help -> "Enter task name."
				)
				
			@inputText(
				taskForm("description"), '_label -> "Description",
				'_help -> "Enter description of the task."
				)	

			@inputText(
			    taskForm("lat"), '_label -> "Latitude",
			    '_help -> "Enter latitude of the task's location."
			    )	
			
			@inputText(
				taskForm("lon"), '_label -> "Longitude",
				'_help -> "Enter longitude of the task's location."
				)	

			@inputText(
				taskForm("rad"), '_label -> "Radius",
				'_help -> "Enter radius of the task's location."
				)	

			@inputText(
				taskForm("deadline"), '_label -> "Deadline",
				'_help -> "Enter deadline of the task."
				)	
			}
			@if(taskType.equals("1")){
			
			@select(taskForm("verificationStrategyId"),
				 options(VerificationStrategy.options()),
				 '_label -> "Verification Strategy",
				 '_help -> "Choose verification strategy."
			)

			@textarea(
				taskForm("polygonPoints"), '_label -> "Geolocation polygon",
				'_help -> "Pass here geolocation polygon in json"   
			)
			
						@inputText(
				taskForm("name"), '_label -> "Name",
				'_help -> "Enter task name."
				)
				
			@inputText(
				taskForm("description"), '_label -> "Description",
				'_help -> "Enter description of the task."
				)	

			@inputText(
			    taskForm("lat"), '_label -> "Latitude",
			    '_help -> "Enter latitude of the task's location."
			    )	
			
			@inputText(
				taskForm("lon"), '_label -> "Longitude",
				'_help -> "Enter longitude of the task's location."
				)	

			@inputText(
				taskForm("rad"), '_label -> "Radius",
				'_help -> "Enter radius of the task's location."
				)	

			@inputText(
				taskForm("deadline"), '_label -> "Deadline",
				'_help -> "Enter deadline of the task."
				)	
			
			} 
			
			@if(taskType.equals("2")){
			
			@select(taskForm("verificationStrategyId"),
				 options(VerificationStrategy.options()),
				 '_label -> "Verification Strategy",
				 '_help -> "Choose verification strategy."
				)
			
			@textarea(
			  taskForm("mapCode"), '_label -> "Code for map",
			  '_help -> "Code executed on simple node"   
			  )

			@textarea(
			   taskForm("reduceCode"), '_label -> "Code for reduce",
			   '_help -> "Code executed to merge two nodes"   
			   )
			   
			@inputText(
			    taskForm("input"), '_label -> "Input for map reduce",
			    '_help -> "This input will be divided to chunks, computed, and then merged" 
			  )
			  
			@inputText(
				taskForm("name"), '_label -> "Name",
				'_help -> "Enter task name."
			)
			
			@inputText(
				taskForm("description"), '_label -> "Description",
				'_help -> "Enter description of the task."
				)	
				
			@inputText(
				taskForm("deadline"), '_label -> "Deadline",
				'_help -> "Enter deadline of the task."
				)	
			
			}

	
  
  <div class="actions">
				<input type="submit" class="btn primary" value="Create">
	</div>	
			
		</fieldset>
    }


}
